psycopg2-binary==2.9.10
pyarrow==24.0.0
streamlit==1.40.1
python-dotenv==1.0.1
docling==2.91.0
llama-index==0.13.6
llama-index-vector-stores-postgres==0.8.1
llama-index-embeddings-huggingface==0.7.0
llama-index-readers-docling==0.4.2
llama-index-node-parser-docling==0.4.2
llama-index-llms-anthropic==0.8.6
llama-index-llms-openai==0.5.6
jupyter==1.1.1
langfuse==2.54.1
matplotlib==3.9.3
seaborn==0.13.2
sqlglot==25.32.1
statsmodels==0.14.4
scikit-learn==1.5.2
